@page "/service-registry"
@using DomainGateway.Client.Components
@using DomainGateway.Client.Core.Models

@inject HttpClient Http

<PageTitle>Service Registry</PageTitle>

<h1>Services</h1>

@if (services == null)
{
	<p>
		<em>Loading...</em>
	</p>
}
else if (!string.IsNullOrEmpty(message))
{
	<p>@message</p>
}
else
{
	@foreach (var (serviceName, instances) in services)
	{
		<ServiceInstanceTable ServiceName="@serviceName" Instances="@instances"/>
	}
}

@code {
	private Dictionary<string, ServiceInstance[]>? services;
	private string? message;

	protected override async Task OnInitializedAsync()
	{
		var result = await Http.GetFromJsonAsync<List<ServiceInstance>>("api/servicediscovery/instances");

		if (result is not null && result.Any())
		{
			services = result.GroupBy(s => s.ServiceName)
				.ToDictionary(s => s.Key, s => s.ToArray());
		}
		else
		{
			this.message = "No services are currently registered.";
		}
	}

}
